<div class="row">
  <!-- Search Box -->
  <div class="search">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchBox" autocomplete="off"
      placeholder="Search..." />
  </div>
</div>
<!-- Generate card for each tree object -->
<div class="row">
  <div *ngFor="let tree of Trees | filter:searchBox" class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{tree.imgUrl}}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a routerLink="/tree/{{tree.id}}">{{tree.name}}</a>
        </h4>
        <h5>${{tree.price}}</h5>
        <p class="card-text">{{tree.description}}</p>
      </div>
    </div>
  </div>
</div>